* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 125px;
}

header {
    text-align: center;
}
.titulos{
    background-color: white;    
    /* background-color: #fe6f2f;     */
}
.subtitulos{
    display:flex;
    justify-content: space-evenly;
    color:#ffefb5;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 5; }
    .div3 { grid-area: 1 / 5 / 2 / 6; }


.localizacion{
    display: flex;
    background: grey;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;    
}

.resultado{
    text-align: center;
    max-width: 90%;
}

.botones {
    text-align: center;
    margin: 12px;
}

.imagen {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

.listadovegetales {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.card {
    background-color: rgb(128, 240, 143);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 25px 58px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

.alerta {
    background-color: yellow;
}

.agotado {
    background-color: grey;
    
}
.button{
    background-color: #555555;
    border:2px solid #4CAF50;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 60px
}
.addButton{
    display: inline-flex;
    justify-content: center;
    gap: .5rem;
}
.btnAceptar{
    background-color:white;
    border: none;
    color:#4CAF50;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px
}

.cuenta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mediosyredes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.copyr {
    text-align: center;
}


.aside {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.separador {
    width: 20%;
    height: 100%;
    /* background-color: rgb(128, 240, 143); */
}
.columnas {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    

}

#mostrar_carrito{
    height: 31px;
}

.carro {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carro article {
    max-width: 200px;
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.carro article .imgContainer {
    box-sizing: border-box;
}

.carro article .imgContainer img {
    display: block;
    width: 40px;
}

.footer{
    display: flex;
}
