* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header{
    text-align: center;
}

.imagen{
    width: 300px ;
    height: 300px ;
}

.productos{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
.card{
    background-color:rgb(128, 240, 143);
    padding: 20px;
    border-radius:10px;
    box-shadow:25px 58px -12px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

