* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header{
    text-align: center;
}
.botones{
   text-align: center; 
   margin: 12px;
}
.imagen{
    width: 100px ;
    height: 100px ;
}

.listadovegetales{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
.card{
    background-color:rgb(128, 240, 143);
    padding: 20px;
    border-radius:10px;
    box-shadow:25px 58px -12px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.alerta {
    background-color: yellow;
}
.agotado {
    background-color: grey;
}
.cuenta{
    display: flex;
    justify-content: space-evenly;
}
.mediosyredes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.copyr{
    text-align: center;
}
